<!--The content below is only a placeholder and can be replaced.-->
<script src="src/assets/new.js"></script>

<div class="container-fluid main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Contact Us</a>
          <a href="#">Registration</a>

        </div>
      </div>
      
    </div>
  </nav>

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner" role="listbox">
      <div class="item active background a"></div>
      <div class="item background b"></div>
      <div class="item background c"></div>
    </div>
  </div>
  
  <div class="covertext">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title">My First Angular Web</h1>
      <h3 class="subtitle">Welcome To My Web World</h3>
    </div>
    <div class="col-xs-12 explore">
      <a href="#"><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
    </div>
  </div>
  
</div>





<router-outlet></router-outlet>
